.kuliner{
    margin-top: 50px;
    float: left;
}

.home{
    margin-top: 50px;
    margin-bottom: 400px;
}

.kepsek{
    margin-top: 50px;
    margin-bottom: 100px;
}

.rpl{
    margin-top: 50px;
    float: left;
}

.dpib{
    margin-top: 50px;
    float: left;
}

.tptu{
    margin-top: 50px;
    float: left;
}
